body {
    background-color: #858585;
}

table {
    width: 100%;
    border-radius: 20px;
    letter-spacing: 1px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    text-transform: uppercase;
    background-color: #333333;
    padding: 10px;
}

th, td {
    width: 12%;
}

td {
    padding: 10px;
    vertical-align: top;
}

.sun-top-left {
    border-top-left-radius: 20px;
}

.sat-top-right {
    border-style: none;
    border-top-right-radius: 20px;
}

.number {
    display: block;
    margin-bottom: 10px;
}

.calendar {
    height: 150px;
    background-color: #515151;
}

.bg-red {
    background-color: #ff9999;
}

.bg-blue {
    background-color: #85d6ff;
}

.bg-green {
    background-color: aquamarine;
}

.single-day {
    border-radius: 10px;
    text-align: center;
}

.event-start {
    margin-right: -15px;
}

.event-middle {
    margin-right: -20px;
    margin-left: -20px;
    text-align: center;
}

.event-end {
    margin-left: -20px;
}

.event {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 18px;
    color: #4c4c4c;
    border-radius: 10px;
}