body {
    background-color: #858585;
}

table {
    width: 100%;
    border-radius: 20px;
    letter-spacing: 1px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    text-transform: uppercase;
    background-color: #333333;
    padding: 10px;
}

th, td {
    width: 12%;
}

td {
    padding: 10px;
    vertical-align: top;
}

.sun-top-left {
    border-top-left-radius: 20px;
}

.sat-top-right {
    border-style: none;
    border-top-right-radius: 20px;
}

.number {
    display: block;
    margin-bottom: 10px;
}

.calendar {
    height: 150px;
    background-color: #515151;
}

.singl-day {
    background-color: #ff9999;
    border-radius: 10px;
    text-align: center;
}

.test-single {
    background-color: palevioletred;
    border-radius: 10px;
    text-align: center;
}

.interview-single {
    background-color: #ff9999;
    border-radius: 10px;
    text-align: center;
}

.brunch-single {
    background-color: aqua;
    border-radius: 10px;
    text-align: center;
}

.event-start {
    background-color: #85d6ff;
    margin-right: -15px;
}

.mornin-start {
    background-color: aquamarine;
    margin-right: -15px;
}

.event-middle {
    background-color: #85d6ff;
    margin-right: -20px;
    margin-left: -30px;
}

.mornin-middle {
    background-color: aquamarine;
    margin-right: -5px;
    margin-left: -30px;
}

.mornin-end {
    background-color: aquamarine;
    margin-right: 0px;
    margin-left: -250px;
}

.event-end {
    background-color: #85d6ff;
    margin-left: -20px;
}

.workshop {
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    margin-right: -220px;
    margin-left: -5px;
}

.vacation {
    background-color: plum;
    border-radius: 10px;
    text-align: center;
    margin-right: -220px;
    margin-left: -5px;
}

.event {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 18px;
    color: #4c4c4c;
    border-radius: 10px;
}